.about {
  position: relative;
  overflow: hidden;

  figure {
    @include figure(false) {
      background: url(../../../images/about.png);
    }
  }
  figure::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(#0A1B33, .6);
  }

  &__wrapper {
    height: 400px;
    max-width: 1280px;
    padding: 40px 90px 40px;
    margin: 0 auto;
  }

  &__title {
    position: relative;
    @extend .perspective__title;
  }

  &__content {
    position: relative;
  }
}

.about__content {
  p {
    @include font(36px, null, $text-family-pingfang-light);
    max-width: 675px;
    margin-bottom: 40px;
  }

  i {
    position: absolute;
    @include font(33px, $text-color-accent,null);
    top: 25%;
    right: 20%;
    cursor: pointer;

    &.wechat {
      right: 10%;
    }
  }
}

/*------------------ Screen ------------------*/

@include lg {
  .about {
    &__wrapper {
      padding: 40px 20px;
    }
  }

  .about__content {
    text-align: center;
    margin-top: 50px;
    p { font-size: 18px; }

    i {
      top: initial;
      right: initial;
      bottom: -70px;
      left: 40%;
      transform: translateX(-50%) scale(.8);

      &.wechat { left: 60%; }
    }
  }
}