.event {
  background: $bg-color-primary;
  padding: 40px 0px 50px 0;

  &__wrapper {
    max-width: 1280px;
    padding: 0 90px;
    margin: 0 auto;
  }

  &__content {
    max-width: 1024px;
    margin: 0 auto;
    // flex-wrap: wrap;
  }
}

.event-left { padding-right: 30px; }

.event-left__item {
  height: 600px;
  padding: 20px 30px 30px 20px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;

  figure {
    @include figure {
      background: url(../../../images/events-1.png);
    }
  }
  figure::before {
    content: '';
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    background: white;
    mix-blend-mode: saturation;
  }
  figure::after {
    content: '';
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    background: rgba(#0A1B33, .6);
  }

  h1 {
    position: relative;
    @include font(24px, null, $text-family-pingfang-medium);
    img { padding-right: 20px; }
  }
}

.event-left__content {
  padding-left: 40px;
  position: relative;

  h2 {
    @include font(48px, $text-color-accent, (Cochin-Bold, serif) );
    span { @include font(20px, null, $text-family-pingfang-medium) }
  }
  p {
    @include font(24px, null, $text-family-pingfang-medium);
    padding: 10px 0;
  }
  span {
    @include font(16px, $text-color-greyblue, $text-family-pingfang-medium);
  }
}

.event-left__button {
  padding-top: 90px;
}

.event-right {
  flex-wrap: wrap;
  &__item {
    width: 390px;
    padding: 30px;
    padding-top: 140px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 30px;

    figure {
      @include figure {
        background: url(../../../images/events-2.png);
      }
    }

    figure::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: white;
      mix-blend-mode: saturation;
    }

    figure::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(#0A1B33, .6);
    }
    &:nth-of-type(2) figure {
      background-image: url(../../../images/events-3.png);
    }
  }
  
  &__time {
    @include font(38px, $text-color-greyblue, (Cochin-Bold, serif));
    span { @include font(16px, null, $text-family-pingfang-semibold) }
    position: relative;
  }
  p {
    @include font(19px, null, $text-family-pingfang-medium);
    padding-top: 8px;
    margin-bottom: 76px;
    position: relative;
  }
  &__city {
    align-self: flex-end;
    @include font(16px, $text-color-greyblue, $text-family-pingfang-medium);
    position: relative;
  }
}