.perspective {
  background: $bg-color-primary;

  &__wrapper {
    max-width: 1280px;
    padding: 40px 90px 50px 90px;
    margin: 0 auto;
  }

  &__title {
    @include flex-start;
    padding-bottom: 40px;
    h1 {
      font-size: 36px;
      font-family: PingFangSC-Medium;
      padding-left: 20px;
    }
  }
  
  &__content {
    max-width: 1020px;
    margin: 0 auto;
  }

  &__more {
    margin-top: 20px;
  }
}

.perspective-block1 {
  background: $bg-color-darken;
  border-radius: 4px;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 50px;
    background: $color-primary;
    transform: rotate(45deg);
    top: -15px;
    left: 10px;
  }

  &__left {
    @include flex-column-start;
    padding: 20px 40px;
    span {
      @include font(12px, $text-color-accent, $text-family-pingfang-medium);
    }
    h2 {
      padding: 20px 0;
      @include font(30px, null, $text-family-pingfang-medium);
    }
    p {
      padding-bottom: 20px;
      @include font(14px, $text-color-lightblue, $text-family-pingfang-regular);
    }
    a { align-self: flex-end; }
  }

  &__right {
    min-width: 470px;
    height: 390px;
    position: relative;
    overflow: hidden;
    figure {
      @include figure {
        background: url(../../../images/perspective-1.png) white;
        background-blend-mode: multiply;
      }
    }
  }
}

.perspective-block2 {
  margin-top: 30px;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  &__item {
    flex: 1;
    background: $bg-color-secondary;
    border-radius: 4px;
    padding: 20px;
    margin: 0 20px;
    margin-bottom: 20px;
    &:first-child,&:last-child {margin: 0 0 20px 0;}
    @include flex-column-start;

    span {
      @include font(12px, $text-color-silverblue, $text-family-pingfang-medium);
    }
    h3 {
      @include font(16px, $text-color-greyblue, $text-family-pingfang-medium);
      padding: 20px 0;
    }
    p {
      @include font(14px, $text-color-lightblue, $text-family-pingfang-regular);
      padding-bottom: 20px;
    }
    a { align-self: flex-end }
    &-img {
      position: relative;
      overflow: hidden;
      width: 281px;
      height: 158px;
      margin-bottom: 20px;
      figure {
        @include figure {
          background-image: url(../../../images/perspective-2.png);
        }
      }
    }
  }
}

/*------------------ Screen ------------------*/

@include lg {
  .perspective {

    &__wrapper {
      padding: 40px 20px 50px 20px;
    }

    &__title {
      // padding-bottom: 20px;

      h1 {
        font-size: 24px;
      }
    }
  }

  .perspective-block1 {
    flex-wrap: wrap;
    background: rgba($bg-color-darken,.8) url(../../../images/perspective-1.png) center/cover no-repeat;
    background-blend-mode: multiply;

    &__left {
      padding: 20px;
      h2 { font-size: 20px; }
    }
    &__right {
      height: 0;
    }
  }

  .perspective-block2 {
    &__item {
      margin: 0;
      margin-bottom: 20px;
    }
  }
}