

// bases
@import '../../Common/variables';
@import '../../Common/reset';
@import '../../Common/mixins';
@import '../../Common/typography';
@import '../../Common/helpers';

// Vendors
@import '../../Common/vendors';

// Components
@import '../../Common/components/flex';
@import '../../Common/components/linkto';
@import '../../Common/components/buttons';
@import 'components/header';
@import 'components/perspective';
@import 'components/newsletter';
@import 'components/event';
@import 'components/about';
@import '../../Common/components/footer';

body {
  background: $bg-color-primary;
}

.nav__wrapper {
  position: relative;
}
.nav__message {
  position: absolute;
  right: 0;
  top: 150px;
}
.nav__pagination {
  position: absolute;
  top: 670px;
}
.message-mob {
  margin-top: 300px;
}