.body {
  // display: grid;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 260px;
  padding: 30px 90px;
  // grid-template-columns: auto;
  // column-gap: 80px;
  // row-gap: 40px;
}

/* Aside */
@import '../../../Common/components/aside';
.aside-bread {
  margin-bottom: 0;
}

.content {
  margin-top: 60px;
  position: relative;

  &__title {
    margin-bottom: 20px;
  }
  &__headline {
    margin-bottom: 65px;
    min-height: 283px;
    background: $bg-color-secondary;
    padding: 40px 0 40px 40px;
    display: grid;
    grid-template-columns: auto 255px;
    grid-template-areas: 
    'a c'
    'b c';
    position: relative;
    span { @include font(18px, $text-color-accent, $text-family-pingfang-medium); margin-bottom: 20px }
    h2 { grid-row: 2; padding-right: 40px; @include font(40px,null,$text-family-pingfang-medium)}
    &-pic {
      grid-row: 2;
      grid-area: c;
      width: 255px;
      height: 335px;
      position: absolute;
      bottom: -40px;
      overflow: hidden;
      figure {
        @include figure {
          background: url(../../../images/president.png);
        }
      }
    }
  }
  &__headline::before {
    content: '';
    display: block;
    width: 100vw;
    height: 100%;
    background: $bg-color-secondary;
    position: absolute;
    left: 100%;
  }
  &__main {
    // text-align: justify;
  }
  &__p {
    @include font(18px, null, $text-family-pingfang-regular);
    line-height: 32px;
    margin-bottom: 32px;
    img {
      width: 100%;
      border-radius: 4px;
    }

    em {
      color: $text-color-silverblue;
    }

    a {
      display: inline;
      color: $text-color-accent;
    }
  }
}

/* Voice */
.voice {
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 22px 50px 20px 20px;
  background: $bg-color-secondary;
  border-radius: 6px;
  display: grid;
  grid-column-gap: 22px;
  grid-template-columns: minmax(auto, 100px) auto;
  max-width: 600px;

  .icon {
    @include font(42px, $text-color-accent);
    grid-row: 1 / 4;
    cursor: pointer;
    justify-self: center;
    align-self: center;

    &--active {
      @keyframes playing {
        from {
          transform: scale(1);
          filter: brightness(1.3);
        }

        to {
          transform: scale(1.02);
          filter: brightness(1);
        }
      }

      animation: playing .4s infinite alternate ease;
    }
  }

  p {
    @include font(18px, $text-color-greyblue, $text-family-pingfang-medium);
  }

  &__slider {
    margin: 10px 0;
    height: 3px;
    background: #647087;
    border-radius: 6px;
    position: relative;
    // overflow: hidden;
  }

  &__slider-progress {
    position: absolute;
    width: 40%;
    height: 100%;
    border-radius: 6px;
    background: $color-primary;
    transition: 1s linear;
  }

  &__slider-progress-oval {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    position: absolute;
    background: $color-primary;
    right: 0;
    top: -2px;
    border-radius: 50%;
    transition: 1s linear;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba($color-primary, .2);
      transform: scale(1.8);
      border-radius: 50%;
      opacity: 0;
    }

    &--active::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba($color-primary, .4);
      transform: scale(1.8);
      border-radius: 50%;

      @keyframes scale {
        from {
          transform: scale(1);
          opacity: 1;
        }

        to {
          transform: scale(3);
          opacity: 0;
        }
      }

      animation: scale .8s infinite linear;
    }
  }

  span {
    margin: 0;
    @include font(10px, #77849F, $text-family-pingfang-light);
  }
}

/*------------------ Screen ------------------*/

@include lg {
  .body {
    display: block;
    padding: 20px;

    .aside {
      display: none
    }
  }

  .content {
    margin-top: 20px;

    &__title {
      margin-top: 0;
      margin-bottom: 20px;
    }

    &__headline {
      min-height: auto;
      padding: 0;
      display: none;

      span,
      h2 {
        padding-left: 30px;
      }

      span {
        padding-top: 20px;
        display: block;
      }

      h2 {
        font-size: 34px;
      }

      &-pic {
        position: relative;
        margin: 0 auto;
        height: 250px;
        width: 200px;
        border-radius: 4px;
        box-shadow: 0 30px 20px black(30);
      }
    }

    &__headline::before {
      display: none;
    }

    &__main {
      text-align: left;
      padding: 10px;
    }

    &__p {
      font-size: 16px;
    }
  }

  .content-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    row-gap: 25px;
  }

  .content-cards__item {
    &-img {
      min-height: 200px;
      margin-bottom: 10px;
    }
  }

  /* Voice */
  .voice {
    padding: 12px 20px 10px 20px;
    grid-template-columns: auto auto;

    .icon {
      @include font(32px, $text-color-accent);
    }

    p {
      @include font(14px, $text-color-greyblue, $text-family-pingfang-medium);
    }
  }
}