.body {
  display: grid;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 300px;
  padding: 30px 90px;
  grid-template-columns: minmax(auto, 227px) 1fr;
  column-gap: 80px;
  row-gap: 40px;
}

/* Aside */
@import '../../../Common/components/aside';

/* Content */
.content {
  position: relative;

  &__title {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  &__caption {
    @include font(18px, null, $text-family-pingfang-regular);
    text-align: justify;
    line-height: 32px;
    margin-bottom: 40px;
  }
}

.content-tab {
  margin-bottom: 58px;
  padding-left: 38px;
  @include flex-start;
  @include font(24px, null, $text-family-pingfang-thin);
  cursor: pointer;

  &__item { @include flex-start; position: relative; margin-right: 60px; }
  &__item:hover {
    color: $text-color-accent;
  }
  &__item--current {
    color: $text-color-accent;
    transition: .4s;
    &::after {
      content: '';
      display: block;
      position: absolute;
      padding: 4px;
      background: $text-color-accent;
      border-radius: 50%;
      left: 50%;
      top: 110%;
      transform: translateX(-50%);
      transition: .4s;
    }
  }
  &__item+&__item::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 16px;
    overflow: hidden;
    background: #5F6B82;
    position: absolute;
    left: -30px;
  }
}

.content-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  position: relative;
  
  &__first {
    grid-column: span 3;
    margin-bottom: 30px;
    background: $bg-color-darken;
    display: grid;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    grid-template-areas: 
    'a b';
  }
  &__first-left {
    padding: 20px 30px;

    span {
      @include font(12px, $text-color-silverblue, $text-family-pingfang-medium);
      margin-bottom: 10px;
      i { margin-right: 10px; }
      display: block;
    }
    h2 {
      @include font(22px, null, $text-family-pingfang-medium);
      margin-bottom: 20px;
    }
    p {
      @include font(10.3px, null, $text-family-pingfang-regular);
    }
  }
  &__first-right {
    grid-area: b;
    width: 340px;
    position: relative;
    overflow: hidden;
  
    figure {
      @include figure {
        background: url(../../../images/newsletter-5.png);
      }
    }
  }
}

.content-cards__item {
  &-img {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    min-height: 230px;
    border-radius: 4px;
    figure {
      @include figure {
        background: url(../../../images/newsletter-6.png);
      }
    }
    span {
      position: absolute;
      right: 10px;
      bottom: 10px;
      @include font (12px, $text-color-greyblue, $text-family-pingfang-medium);
      i { margin-right: 10px; }
      z-index: 1;
    }
    .overlay {
      position: absolute;
      width: 100%;
      height: 37px;
      bottom: 0;
      padding: 10px;
      background: rgba(#0A1B33, .6);
      @include flex-start;
      @include font(16px, $text-color-silverblue, $text-family-pingfang-medium);
      // background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, black(60) 100%);
    }
  }

  &:nth-of-type(2) figure {
    background-image: url(../../../images/newsletter-7.png)
  }

  &:nth-of-type(3) figure {
    background-image: url(../../../images/newsletter-8.png)
  }

  &:nth-of-type(4) figure {
    background-image: url(../../../images/newsletter-9.png)
  }

  &:nth-of-type(5) figure {
    background-image: url(../../../images/newsletter-10.png)
  }

  &:nth-of-type(6) figure {
    background-image: url(../../../images/newsletter-11.png)
  }

  &:nth-of-type(7) figure {
    background-image: url(../../../images/newsletter-12.png)
  }

  &:nth-of-type(8) figure {
    background-image: url(../../../images/newsletter-13.png)
  }

  &:nth-of-type(9) figure {
    background-image: url(../../../images/newsletter-14.png)
  }

  &:nth-of-type(10) figure {
    background-image: url(../../../images/newsletter-15.png)
  }

  &:nth-of-type(11) figure {
    background-image: url(../../../images/newsletter-16.png)
  }

  &:nth-of-type(12) figure {
    background-image: url(../../../images/newsletter-17.png)
  }

  &:nth-of-type(13) figure {
    background-image: url(../../../images/newsletter-18.png)
  }

  &:nth-of-type(14) figure {
    background-image: url(../../../images/newsletter-19.png)
  }

  &:nth-of-type(15) figure {
    background-image: url(../../../images/newsletter-20.png)
  }

  &:nth-of-type(16) figure {
    background-image: url(../../../images/newsletter-21.png)
  }

  &:nth-of-type(17) figure {
    background-image: url(../../../images/newsletter-22.png)
  }

  &:nth-of-type(18) figure {
    background-image: url(../../../images/newsletter-23.png)
  }

  &:nth-of-type(19) figure {
    background-image: url(../../../images/newsletter-24.png)
  }

  &:nth-of-type(20) figure {
    background-image: url(../../../images/newsletter-25.png)
  }

  &:nth-of-type(21) figure {
    background-image: url(../../../images/newsletter-26.png)
  }
  
  h2 {
    @include font(16px, $text-color-greyblue, $text-family-pingfang-medium);
    word-break: break-all;
    width: 100%;
  }
}

/* Voice */
.voice {
  padding: 12px 20px 10px 20px;
  background: $bg-color-primary;
  border-radius: 6px;
  display: grid;
  column-gap: 22px;
  grid-template-columns: auto auto;

  .icon {
    @include font(32px, $text-color-accent);
    grid-row: 1 / 4;
  }
  p {
    @include font(14px, $text-color-greyblue, $text-family-pingfang-medium);
  }
  &__slider {
    margin: 10px 0;
    height: 3px;
    background: #647087;
    border-radius: 6px;
    position: relative;
    // overflow: hidden;
  }
  &__slider-progress {
    position: absolute;
    width: 40%;
    height: 100%;
    border-radius: 6px;
    background: $color-primary;
  }
  &__slider-progress-oval {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    position: absolute;
    background: $color-primary;
    right: 0;
    top: -2px;
    border-radius: 50%;

    &::after {
      content: '';
      position: absolute;
      left: 0;right: 0;top: 0;bottom: 0;
      background: rgba($color-primary, .2);
      transform: scale(1.8);
      border-radius: 50%;
    }
  }
  span {
    margin: 0;
    @include font(10px, #77849F, $text-family-pingfang-light);
  }
}

/* Media */
.media {
  height: 150px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 6px;

  figure {
    @include figure{
      background: url(../../../images/perspective-5.png);
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;bottom: 0;left: 0;right: 0;
      background: black(40);
    }
  }


  i {
    @include font(36px, $text-color-accent);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  span {
    @include font(10px, $text-color-lightblue, $text-family-pingfang-light);
    position: absolute;
    right: 10px;
    bottom: 10px;
    margin: 0;
  }
}

/* Loading */
.loading {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -290px;
  left: 0;
  visibility: hidden;

  span {
    display: inline-block;
    padding: 4px;
    border-radius: 50%;
    background: $text-color-silverblue;
  }
  span:nth-child(1) {
    animation: blink .6s linear infinite alternate;
  }
  span:nth-child(2) {
    animation: blink .6s linear .2s infinite alternate;
  }
  span:nth-child(3) {
    animation: blink .6s linear .4s infinite alternate;
  }
  @keyframes blink {
    from {
      background: $text-color-silverblue;
      transform: scale(1.0);
    }
    to {
      background: $text-color-accent;
      transform: scale(1.3);
    }
  }
}

/*------------------ Screen ------------------*/

@include lg {
  .body {
    display: block;
    padding: 20px;

    .aside {
      display: none
    }
  }
  .content {
    margin-top: 20px;

    &__title {
      margin-top: 0;
      margin-bottom: 20px;
    }

    &__headline {
      min-height: auto;
      padding: 0;
      display: none;

      span,
      h2 {
        padding-left: 30px;
      }

      span {
        padding-top: 20px;
        display: block;
      }

      h2 {
        font-size: 34px;
      }

      &-pic {
        position: relative;
        margin: 0 auto;
        height: 250px;
        width: 200px;
        border-radius: 4px;
        box-shadow: 0 30px 20px black(30);
      }
    }

    &__headline::before {
      display: none;
    }

    &__main {
      text-align: left;
      padding: 10px;
    }

    p {
      font-size: 16px;
    }
  }
  .content-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    row-gap: 25px;
  }
  .content-cards__item {
    &-img {
      min-height: 200px;
      margin-bottom: 10px;
    }
  }
}