.newsletter {
  background: $bg-color-secondary;
  &__wrapper {
    @extend .perspective__wrapper;
  }

  &__title {
    @extend .perspective__title;
  }
}

.newsletter-list {
  max-width: 1020px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  
  &__item {
    margin-bottom: 50px;
    flex-basis: 230px;
    &:nth-of-type(2) figure {background-image: url(../../../images/newsletter-2.png)}
    &:nth-of-type(3) figure {background-image: url(../../../images/newsletter-3.png)}
    &:nth-of-type(4) figure {background-image: url(../../../images/newsletter-4.png)}
    p {
      padding-top: 20px;
      @include font(16px, $text-color-greyblue, $text-family-pingfang-medium);
    }
  }

  &__img {
    height: 230px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    figure {
      @include figure {
        background-image: url(../../../images/newsletter-1.png);
      }
    }
    span {
      position: absolute;
      right: 10px;
      bottom: 10px;
      @include font(12px, $text-color-silverblue, $text-family-pingfang-medium);
      i {
        padding-right: 10px;
      }
    }
  }
}